body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --brown: #8D493A;
    --light-brown: #D0B8A8;
    --beige: #E4CFC2;
    --light-beige: #F8EDE3;
}


body {
    margin: 0;
    color: var(--light-beige);
    background-color: var(--light-beige);
}

h1,h2 {
    margin: 0;
    font-weight: 400;
}

.page-wrapper {
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    height: calc(9vh - 20px);
    max-height: 9vh;
    position: relative;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: var(--brown);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.7);
    font-size: 16px;
}

.logo {
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
}

.content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
    height: calc(91vh - 30px);
    width: 20vw;
    background-color: var(--light-brown);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    padding: 15px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.sidebar-project {
    padding: 10px 15px;
    background-color: var(--beige);
    border-radius: 5px;
    color: var(--brown);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    font-size: 15px;
    font-weight: 600;
    margin-right: 3px;
    cursor: pointer;
}

.reset-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-button {
    font-size: 15px !important;
}

.content-right-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px 10px;
}

.content-right-wrapper > h2 {
    margin: 10px 0px 20px 0px;
    color: var(--brown);
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;
    margin-bottom: 20px;
}

.item {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--beige);
    padding: 15px 20px 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--brown);
    font-weight: 500;
}

.item-wrapper-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-description {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}

.item.expanded > .item-description {
    max-height: none;
    opacity: 1;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
    padding-bottom: 70px;
}

.item.expanded > .item-description .edit-button {
    display: block;
}

.item-description .edit-button {
    display: none;
}

.item-left {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}

.item-right {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.item-title {
    font-weight: 600;
    font-size: 18px;
}

.item-priority {
    font-size: 16px;
    color: var(--light-beige);
    padding: 10px 5px;
    border-radius: 5px;
}

.item-expand-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease-out;
}

.item-expand-button > img {
    width: 27px;
    height: 27px;
}

.item.expanded .item-expand-button {
    transform: rotate(180deg);
}

.item-utility-button {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 9px 10px;
    background-color: var(--brown);
    color: var(--light-beige);
}

.edit-button {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
}

.add-item-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cta {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--light-beige);
    padding: 10px 15px;
    border: none;
    background-color: var(--brown);
    box-shadow: 0px 3px 7px 0px rgba(141,73,58,1);
    border-radius: 5px;
}

.cta:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

/* Dialog style */

dialog {
    position:absolute;
    top: 10vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 35px 20px;
    font-size: 16px;
    border: 3px solid var(--brown);
    background-color: var(--light-brown);
    color: white;
}

dialog > h2 {
    font-weight: 500;
}

.item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
}

input {
    width: 200px;
    height: 30px;
}

input[type = "radio"] {
    width: 30px;
    height: 30px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.input-wrapper-radio {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.radio-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.add-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    height: 30px;
    width: 200px;
}

/* ---------- */

.buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#add-item-form{
    font-size: 18px;
}

#add-project-form {
    font-size: 18px;
    margin-top: 40px;
}
